{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EnergymC</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/logo.png' %}" alt="" />
            <span>
              Energym
            </span>
          </a>
          <div class="contact_nav" id="">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="service.html">
                  <img src="{% static 'images/location.png' %}" alt="" />
                  <span>Location</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html">
                  <img src="{% static 'images/call.png' %}" alt="" />
                  <span>Call : + 01 1234567890</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html">
                  <img src="{% static 'images/envelope.png' %}" alt="" />
                  <span>demo@gmail.com</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="container">
        <div class="custom_nav2">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex  flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about/">About </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/service/">Services </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container" style="padding-top: 50px;">
                <div class="row">
                  <div class="col-4">
                    <div class="detail-box">
                      <form enctype="multipart/form-data" action="/update_packages2/{{data.id}}"  method="post">
                        {% csrf_token %}
                       <div class="form-group">
                        <input type="text" value="{{ data.trainername }}" name="trainername" class="form-control" placeholder="enter trainer name">
                       </div>
                       <div class="form-group">
                        <select name="typeofsession" class="form-control" >
                            <option class="form-control" value="{{ data.typeofsession }}">{{ data.typeofsession }}</option>
                            <option class="form-control" value="diet ">diet</option>
                            <option class="form-control" value="workout ">workout</option>
                            <option class="form-control" value="diet_workout ">diet+workout</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <select name="duration" class="form-control" >
                          <option class="form-control" value="{{ data.duration }}" selected>{{ data.duration }}</option>

                            <option class="form-control" value="duration">duration</option>
                            <option class="form-control" value="1months ">1 months</option>
                            <option class="form-control" value="2months ">2 months</option>
                            <option class="form-control" value="3months">3 months</option>
                            <option class="form-control" value="6months">6 months</option>
                            <option class="form-control" value="1year ">1 year</option>
                        </select>
                      </div>

                       <div class="form-group">
                        <input type="number" value="{{ data.price }}" name="price" class="form-control" placeholder="enter price">
                       </div>
                       <div class="form-group">
                        <img src="{{ data.photo }}"  height="150" width="150">
                        <input type="file" value="{{ data.photo }}" name="photo"><b style="color: white;">upload photo</b>
                       </div>
                       <div class="form-group">
                        <input type="text" value="{{ data.available_slot }}" name="available_slot" class="form-control" placeholder="available slot">
                       </div>
                        
                       <div class="form-group">
                        <select name="category"class="form-control" >
                          <option class="form-control" value="{{ data.category }}" selected>{{ data.category }}</option>

                            <option class="form-control" value="category">Category</option>
                            <option class="form-control" value="individual">individual</option>
                            <option class="form-control" value="group ">group</option>
                            <option class="form-control" value="ladies">ladies</option>
                            <option class="form-control" value="mens ">men's</option>
                            <option class="form-control" value="mixed">mixed</option>
                        </select>
                      </div>
                       <label><b style="color: white;">starting date</b></label>
                       {% if data.starting_date is not None %}
                        <input  value="{{ data.starting_date }}" name="starting_date" class="form-control" placeholder="enter starting date"><br>
                       {% else %}
                       <input  type="date"  name="starting_date" class="form-control" placeholder="enter starting date"><br>
{% endif %}
                      
                       <div class="btn-box">
                       <input type="submit" class="btn btn-outline-light"  value="update packages">
                       </div>
                      </form>
                      
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="detail-box" style="margin-top: 150px;">
                        <h2>
                          Get Your Body
                        </h2>
                        <h1>
                          Fitness Here
                        </h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                        <div class="btn-box">
                          <a href="" class="btn-1">
                            Read More
                          </a>
                          <a href="" class="btn-2">
                            Get A Quote
                          </a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

<!-- footer section -->
<section class="container-fluid footer_section ">
  <p>
    &copy; 2019 All Rights Reserved. Design by
    <a href="https://html.design/">Free Html Templates</a>
  </p>
</section>
<!-- footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>